/*Create a button with three dashed inside*/
/*create left and right arrows to be clicked*/
/*LOOK INTO AUTO-Prefixer*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

/******************************************************
The Optionlist...options...part....THE SIDEBAR!!!
******************************************************/

#menu-2{
  background-color: #d0cccb;
}

#menu-2 h1{
    color: #5d5958;
}

#menu-2 ul.active h1{
   color: white;  
}

#menu-2 ul.active li a:hover{
  background-color: #ef4f35;
  color: white;
}

#menu-2 ul.active ul li a{
    color: #5d5958;
}

#menu-2 ul.active li.active a{
  color: yellow;
}

nav .optionList {
  width: 100%;
  text-align: center; 
}

/*Beginning of Potentially Useless Rules*/

ul {
  width: 100%;
  list-style: none;
  margin-top: 10px;
}


ul.active ul li a{
  width: 100%;
  font-size: .7em;
  text-decoration: none;
  font-style: italic;
}

ul ul{
  max-height: 0;
  overflow: hidden;
}

ul.active ul{
  max-height: 100em;
  transition: 5s all;
}


/*End of potentially useless rules*/

/******************************
Image and imageholder
******************************/
#boxWrap {
  padding-top: 70px;
  text-align: center;
  display: block;
  min-width: 100%; 
}

/*********************
HEADER EVERYTHING
*********************/

#head {
  position:fixed;
  top: 0;
  left:0;
  height: 70px;
  width: 100%;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  background-color: #ffffff;
  color: #ef4f25; }
  #head h1 {
    text-align: center;
    letter-spacing: 2px; }
    #head h1:hover {
      text-shadow: 1px 1px 3px white; }

/***************
The Logo
***************/

#dbsLogo{
  height: 100%;
  width: 100px;
}

/****************************
HEADER BUTTON (HAMBURGER)
****************************/

.button {
  font-size: 90%;
  height: 100%;
  background-color: #e9e8e6;
}

#buttonLogo{
  display:inline-block;
  margin-left: 1em;
}

h1#pageHeader{
  display:inline-block;
  position:relative;
  bottom: 5px;
  left: .1em;
  
}

/*Container for button and header*/
#st-trigger-effects{
  height: 100%;
}

#mover {
  min-width: 30%;
  height: 100%;
  float: left;
  display: inline-block;
}

#mover:hover {
  cursor: pointer; }

#mover:hover .btn {
  transition-property: background-color;
  transition-duration: .5s;
  background-color: #ef4f25; }

.btn {
  margin: 3px;
  width: 1.45em;
  height: 5px;
  background-color: #ef4f25;
  border-radius: 25%; }

.btnPiece {
  display: block; }

/*header title (the one AFTER 'DBS Interactive' and the Hamburger button*/
#headerTitle{
  font-size: 1.5em;
  float: left;
  background-color: #D0CCCB;
  display:inline-block;
  height: 100%;
  min-width: 60%;
  text-align: center;
}

#headerDescription{
  display: inline-block;
  background-color: #d0cccb;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  bottom: .5em;
}


/*left and right arrows*/

#controls{
  display: inline-block;
  text-align: center;
  position: relative;
  bottom: 1em;
  margin-left: 1em;
}

#leftControl, #rightControl{
  display: inline-block;
}

#leftControl {
  padding: 0;
  font-size: 2em;
  display:inline-block;
  color: #8a8786;
}

#rightControl {
  margin: 0;
  padding: 0;
  font-size: 2em;
  display: inline-block;
    color: #8a8786;
}

.leftSelect:hover, .rightSelect:hover {
  transition-property: color, cursor;
  transition-duration: .5s, .2s;
  color: #EF4F25;
  cursor: pointer; }

/************************
IMAGE TO BE CHANGED 
************************/
img {
  max-width: 100%;
  display: inline;
  font-family: Homenaje; }

#chevron{
  background-color: white;
  width: 100%;
  height: 4em;
}

/***********************************
TEXT AREA (PARAGRAPH AND SUCH)
************************************/
#part1{
	display: table; 
}



/*Text Content Section*/
.imageHolder{
	display: table-cell; 
	background-color: white;
	min-width: 10em;
	min-height: 10em;
}

#textContent{
	display: table;
	width: 100%;
	height: 12.844em; /*Height of the top header times 3*/
	background-color: white; /*Placeholder. Shows where description is suppose to be placed*/
}

#textContent #description {
	padding-top: 3.2109375em; /*Pushes content down to center of section based on the size of the div itself*/
}

#description p {
	display: table-cell;
}

#avatarMark{
display: table-cell;
width: 50px;
height: 50px;
background-color: blue;	
}

/***************************
LIST OPTION CUSTOMIZATIONS
***************************/

.optionHeading{
  color: white;
}



/****************
  MEDIA QUERIES
****************/

@media all and (max-width: 815px){
  #headerTitle, #headerDescription {
    display:none;
  }
  
  #pageHeader{
    display: none;
  }
  
  h1#pageHeader{
    display: none;
  }
  
  #mover{
    text-align:center;
    width: 50%;
  }
  
  #leftControl{
    position: relative;
    bottom:1em;
    font-size: 3.2em;
  }
  
  #rightControl{
   position: relative;
    bottom: 1em;
    font-size: 3.2em;
  }  
  
  header#buttonLogo{
    display: inline-block;
    width: 2.9em;
  }
  
  div.btn{
    background-color: rgba(0,0,0,.3);
    height: 1.2em;
    width: 100%;
    border-radius: 10%;
  }
  
  #controls{
    position: relative;
    
    text-align: center;
    margin-left: 20%
    
    
  }
}



