/*Create a button with three dashed inside*/
/*create left and right arrows to be clicked*/
/*LOOK INTO AUTO-Prefixer*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

/******************************************************
The Optionlist...options...part....THE SIDEBAR!!!
******************************************************/

#menu-2{
  background-color: #d0cccb;
}

#menu-2 li a{
   color: #5d5958;
}

#menu-2 li a:hover{
  background-color: #ef4f25;
  color: white;
}


/******************************
Image and imageholder
******************************/
#boxWrap {
  padding-top: 70px;
  text-align: center;
  display: block;
  min-width: 100%; 
}

/*********************
HEADER EVERYTHING
*********************/

#head {
  position:fixed;
  top: 0;
  left:0;
  height: 70px;
  width: 100%;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  background-color: #ffffff;
  color: #ef4f25; }
  #head h1 {
    text-align: center;
    letter-spacing: 2px; }
    #head h1:hover {
      text-shadow: 1px 1px 3px white; }

/***************
The Logo
***************/

#dbsLogo{
  height: 100%;
  width: 100px;
}

/****************************
HEADER BUTTON (HAMBURGER)
****************************/

.button {
  height: 100%;
  background-color: #e9e8e6;
}

#buttonLogo{
  display:inline-block;
}

h1#pageHeader{
  display:inline-block;
  position:relative;
  bottom: 5px;
}

/*Container for button and header*/
#st-trigger-effects{
 height: 100%;
}

#mover {
  width: 33.3%;
  height: 100%;
  float: left;
  display: inline-block;
}

#mover:hover {
  cursor: pointer; }

#mover:hover .btn {
  transition-property: background-color;
  transition-duration: .5s;
  background-color: #ef4f25; }

nav .optionList {
  width: 100%;
  text-align: center; 
}

ul {
  width: 100%;
  list-style: none;
  margin-top: 10px;
}


ul ul li a{
  width: 100%;
  font-size: .7em;
  text-decoration: none;
  font-style: italic;
}


ul ul{
  max-height: 0;
  overflow: hidden;
}

ul.active ul{
  max-height: 100em;
  transition: 5s all;
}

ul.active li.active a{
  color: yellow;
}

.btn {
  margin: 3px;
  width: 1.45em;
  height: 5px;
  background-color: #ef4f25;
  border-radius: 25%; }

.btnPiece {
  display: block; }

/*header title (the one AFTER 'DBS Interactive' and the Hamburger button*/
#headerTitle{
  float: left;
  background-color: #D0CCCB;
  display:inline-block;
  height: 100%;
  width: 50%;
}

#headerDescription{
  display: inline-block;
  background-color: #d0cccb;
  margin: 0;
  height: 100%;
}


/*left and right arrows*/

#controls{
  height: 100%;
  width: 5%;
  display:inline-block;
}

.leftSelect {
  font-size: 1.5em;
  display:inline-block;
}

.rightSelect {
  font-size: 1.5em;
  display: inline-block;
}

.leftSelect:hover, .rightSelect:hover {
  transition-property: color, cursor;
  transition-duration: .5s, .2s;
  color: green;
  cursor: pointer; }

/************************
IMAGE TO BE CHANGED 
************************/
img {
  max-width: 100%;
  display: inline;
  font-family: Homenaje; }

#chevron{
  width: 20em;
  height: 4em;
}

/***********************************
TEXT AREA (PARAGRAPH AND SUCH)
************************************/
#part1{
	display: table; 
}



/*Text Content Section*/
.imageHolder{
	display: table-cell; 
	background-color: white;
	min-width: 10em;
	min-height: 10em;
}

#textContent{
	display: table;
	width: 100%;
	height: 12.844em; /*Height of the top header times 3*/
	background-color: white; /*Placeholder. Shows where description is suppose to be placed*/
}

#textContent #description {
	padding-top: 3.2109375em; /*Pushes content down to center of section based on the size of the div itself*/
}

#description p {
	display: table-cell;
}

#avatarMark{
display: table-cell;
width: 50px;
height: 50px;
background-color: blue;	
}

/***************************
LIST OPTION CUSTOMIZATIONS
***************************/

.optionHeading{
  color: white;
}
